html, body{
	font-size: 0;
	font-family: 'Droid Sans', sans-serif;
}

table {
	font-size: 18px;
	width: 100%;
}

tr {
	background: #EEEEEE;
	color: black;
}

th, td {
	padding: 10px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle !important;
	text-align: left;
}

th {
	padding: 0 10px;
}

td {

}

div.dashboard-cell {

}

div.dashboard-image {
	width: 50px;
	height: 50px;
	background-size: 50px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
	border-radius: 50%;
}

/*tr:nth-child(1){
	position: fixed;
	width: 100%;
}

tr:nth-child(2) td{
	padding-top: 60px;
}*/

th:nth-child(1), td:nth-child(1) {
	width: 50px;
}

td div.dashboard-cell {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

tr:nth-child(even) {
	background: #DEDEDE;
}

tr:nth-child(1) {
	background: #1A1A1A;
	color: white;
	font-weight: bold;
}

tr:hover {
	background: #006ba6;
	color: white;
}